<div class="sidebar" *ngIf="sessionUser.email !==''" >
  <div>
    <p>Welcome {{ sessionUser.firstName }}</p>

    <div class="userInformation" *ngIf="sessionUser.email !==''">
      <div>
        <p>Email: {{ userEmail }}</p>
        <p>First Name: {{ sessionUser.firstName}}</p>
        <p>Last Name: {{ sessionUser.lastName }}</p>
        <p>Projects: {{ sessionUser.projects.length }}</p>
      </div>
    </div>

    <div class="newProjectButton">
      <button (click)="addProject()" mat-raised-button color="primary">New Project</button>
    </div>

    <div class="logoutbutton">
      <button (click)="logout()" mat-raised-button color="primary">Logout</button>

    </div>
  </div>
</div>
