.sidebar {
  font-size: xxx-large;
  position: fixed;
  background-color: -webkit-focus-ring-color;
  top: 0;
  left: 0;
  height: 95%;
  width: 250px;
  padding: 10px;
  margin: 10px;
  border: 2px solid #ccc;
  border-radius: 20px;
  z-index: 1000;
  box-sizing: border-box;
  overflow-y: auto;
  color: white;
}

.userInformation {
  padding: 20px;
  margin-bottom: 10px;
  font-size: medium;
  font-family: "Arial", serif;
}

label {
  page-break-after: auto;
  display: block;
  margin-bottom: 6px;
  color: #333;
}

button {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: aquamarine;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.newProjectButton {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.logoutbutton {
  margin: 10px;
  background-color: red;
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  width: 90%;
justify-items: center;

}
