<div class="sidebar" *ngIf="sessionUser.email !==''" >
  <div>
    <p>Welcome {{ sessionUser.firstName }}</p>

    <div class="userInformation" *ngIf="sessionUser.email !==''">
      <div>
        <p>Email: {{ sessionUser.email }}</p>
        <p>First Name: {{ sessionUser.firstName }}</p>
        <p>Last Name: {{ sessionUser.lastName }}</p>
        <p>Projects: {{ sessionUser.projects.length }}</p>
      </div>
    </div>

    <div class="newProjectButton">
      <button (click)="addProject()" class="addNewProject">New Project</button>
    </div>

    <div class="logoutbutton">
      <button (click)="logout()" class="logoutbutton" >Logout</button>
    </div>
  </div>
</div>
