/* @import url(app/css/normalize.css); */

:root {
  --clr-primary: #4758b8;
  --clr-primary-rgb: 71, 88, 184;
  --clr-primary-1: #eff0fd;
  --clr-primary-2: #c4cdfd;
  --clr-primary-3: #7b8ffd;
  --clr-primary-4: #4758b8;
  --clr-primary-5: #29336b;
  --clr-primary-6: #202647;

  --clr-primary-hover: #054e9c;

  --clr-secondary: #4caf50;
  --clr-secondary-hover: #3a773c;
  --mdc-theme-primary: #007bff;

  --width-board: 400px;
  --width-dialog: 500px;
  --width-sidebar: 280px;
  --width-project-btn: 280px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--clr-primary-1);
}

.btn-primary {
  background-color: var(--clr-primary);
  color: white;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: var(--clr-primary-hover);
}

.primary-shadow {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(var(--clr-primary-rgb), 0.3);
  -moz-box-shadow: 0px 0px 15px 0px rgba(var(--clr-primary-rgb), 0.3);
  box-shadow: 0px 0px 15px 0px rgba(var(--clr-primary-rgb), 0.3);
}

button {
  cursor: pointer;
}

.app-root,
app-home,
pm-project,
pm-project-list {
  display: flex;
}

pm-register,
pm-login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
